<?php

return array(
    'project_name'=>'#NAME#',
    'environment'=>'development',
    'base_url'=>'/',
    'default_route'=>array('controller'=>'home','method'=>'index'),
    'cache'=>false,
    'csrf'=>false
);